.testimonial {
  padding: 0 2rem;
}

.testimonial-card {
  border-radius: 1rem;
  border: 0.5px solid gray;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.control-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 50px;
}

.control-button span {
  font-size: 32px;
  color: rgb(59, 10, 236);
}

.read-more {
  align-self: center;
}
