.testimonial {
  padding: 3rem;
}

.testimonial-card {
  border-radius: 1rem;
  border: 0.5px solid gray;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1)
}

.control-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.control-button span {
  font-size: 30px;
  color: lightblue;
}