/* Promotion.module.css */

.promotion-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.promotion-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.promotion-card-body {
  padding: 20px;
}

.promotion-card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.promotion-card-subtitle {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 10px;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location svg {
  margin-right: 5px;
  color: blue;
}

.offer {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: red;
}

.description {
  color: #6c757d;
  margin-top: 10px;
}

.carousel {
  margin-bottom: 20px;
}

.carousel img {
  height: 100%;
  border-radius: 5px;
}


.promotion-header {
  margin-bottom: 20px;
}

.promotion-header h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(223, 160, 3);
}
