.container {
    display: flex;
    justify-content: center;
  }
  
  .category-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%; 
    padding: 0 10px;
    justify-content: flex-start; 
  }
  
  .category-card {
    flex: 0 0 auto;
    margin-right: 10px;
    white-space: nowrap;
    border: none;
    transition: transform 0.3s ease;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-content {
    display: flex;
    font-weight: 600;
    color: #ff8e37;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1rem;
    background-color: #feefe3;
  }
  
  .category-content i {
    margin-right: 5px;
  }
  
  .category-link {
    text-decoration: none !important;
  }
  /* Custom scrollbar styling */
.category-container::-webkit-scrollbar {
    width: 2px; /* Set the width of the scrollbar */
    height: 3px;
  }
  
  .category-container::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .category-container::-webkit-scrollbar-thumb {
    background: #525dfc; 
    border-radius: 10px; 
  }
  
  .category-container::-webkit-scrollbar-thumb:hover {
    background: #3a45b7; 
  }
  
  @media (max-width: 1024px) {
    .category-container {
      justify-content: flex-start !important; 
    }
  }
  