body {
  margin: 0;
  /* padding-left: 1%;
  padding-right: 1%; */
  overflow-x: hidden !important;
  background: white !important;
  background-color: white !important;
  font-family: Montserrat, Sans-Serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
