.user-table{
    min-width:80vw ;
    overflow-x: scroll;
    -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.user-table::-webkit-scrollbar{
    display: none;
}
.table-icons {
    border: 2px solid #2980b9;
    cursor: pointer;
}
.table-icons svg{
    color: #2980b9;
}
.table-icons:hover{
 background-color: #2980b9;
 color: white;
}
.table-icons:hover svg{
    color: white;
}
.add-user-btn{
    background-color: white;
    color: #2980b9;
    border-radius: 1.5rem;
    border: 2px solid #2980b9;
}
.add-user-btn:hover{
    background-color: #2980b9;
    color: white;
}
.page-icon-action{
    border: 3px solid white;
    padding: 0px 12px;
    cursor: pointer;
}
.page-icon-action:hover{
    background-color: white;
    color: #2980b9;
}
.pagination{
    cursor: pointer;
}
.page-active{
    border: 2px solid #2980b9;
    cursor: pointer;
}