.contact-area {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.form-main {
  border: 1px solid #7564e5;
  border-radius: 5px;
  padding: 20px;
}

.form-group {
  margin-bottom: 25px;
}

.contact input,
.contact textarea {
  background: #fff;
  border: 1px solid #7564e5;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: Montserrat, Sans-Serif;
  padding-left: 30px;
  transition: all 0.3s ease 0s;
}

.contact input:focus,
.contact textarea:focus {
  background: #fff;
  border: 1px solid #7564e5;
  box-shadow: none;
  outline: 0 none;
}

.contact-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.contact-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.contact-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.contact-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.single_address {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 50px;
}
.single_address h4 {
  color: #20247b;
  font-size: 18px;
  font-weight: 600; /* or font-weight: 400; for normal weight */
  overflow: hidden;
}

.single_address i {
  background: #f6f6f6;
  color: #7564e5;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 14px;
  font-size: 22px;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}

.single_address:hover i {
  background: #7564e5;
  color: #fff;
}

.section-title h1 {
  color: #20247b;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.section-title h4{
  padding-bottom: 50px;
}

.section-title p {
  font-size: 14px;
  margin: auto;
}

.text-center {
  text-align: center!important;
}


@media only screen and (max-width: 768px) {
  .contact {
    margin-bottom: 60px;
  }
  .single_address {
    padding-left: 0px;
  }
}
