.card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    box-shadow: 0 12px 20px 1px rgba(17, 66, 201, 0.6);
}

.card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: #fff;
    content: '';
    z-index: -1;
}

a.card {
    padding-top: 15px;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 12px 20px 1px rgba(144, 170, 241, 0.09);
}

.rounded-circle {
    border-radius: 50%;
}

.custom-bg-color {
    background-color: #0999ec;
}

.text-sm {
    font-size: 16px;
}

.card-text {
    padding-top: 16px;
    color: black;
    margin: 0 0 16px;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    color: #20247b;
    font-size: 25px;
    font-weight: 600;
}

.pt-1, .py-1 {
    padding-top: .25rem;
}

.head-icon {
    margin-top: 20px;
    color: white;
}