.dashboard .profile{
    cursor: pointer;
}

.show-profile-list{
    height: auto;
    list-style: none;
    width: max-content;
    background-color: lightgray;
    right: 0;
    position: absolute;
    padding: 1rem 0;
    border-radius:1rem 0;
    transition: all 0.5s ease-in-out;

}
.show-profile-list li{
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 500;
}
.show-profile-list li:hover{
    background-color: lightslategray;
    transition: background-color 0.2s ease-in ;
}
.not-profile-list{
    height: 0;
    overflow: hidden;
}

.admin-outlet{
    height: 80vh;
    overflow: scroll;
    -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.admin-outlet::-webkit-scrollbar{
    display: none;
}


.messageNot .notice,.messageNot .msg{
    bottom: -5px;
    position: absolute;
    width: 0;
overflow: hidden;
font-weight: bold;

}

.messageNot:hover .notice,.messageNot:hover .msg{
    width: fit-content;
}