.admin-sidebar{
    min-height: 100vh;
    background-color: blueviolet;
}
.admin-sidebar ul{
    list-style: none;
}
.admin-sidebar ul .title,.admin-sidebar ul .admin-logo{
    display: none;
}
.admin-sidebar ul:hover .title,.admin-sidebar ul:hover .admin-logo{
    display:inline;
}

.admin-sidebar ul li{
    font-weight: 550;
}

.admin-sidebar ul li:hover{
    background-color: rgb(112, 70, 152);
    cursor: pointer;
}
.admin-sidebar ul ul li{
    padding: 1rem;
}
.admin-sidebar ul li:hover .admin-child-icon{
    transform: rotate(180deg);
    transition: all 500ms;
}
.admin-sidebar ul li ul {
    display: none;
}
.admin-sidebar ul li:hover ul {
    display: block;
    position: absolute;
    background: rgb(56, 24, 86);
    z-index: 2;
    right: 0;
    top: 3rem;
}